/* 蘑菇街商城 */
*{
    margin: 0;padding: 0;
}
a{
    text-decoration: none;
}
input{
    outline: 0;
}
.clearfix:after{
    content:"";
    display: block;
    width: 100%;
    height: 0;
    clear:both;
}
.head{
    width: 1315px;
    height: 30px;
    border-bottom:1px solid lightgray;
}
.head-hd{
    width: 500px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /* border: 1px solid blue; */
    float: right;
    position: relative;
}
.head-hd a{
    display: block;
    font-size: 13px;
    color: lightsteelblue;
    float: left;
    margin-left: 50px;
    text-decoration: none;
}
.head-hd .pic{
    padding-right: 3px;
}
.head-hd a span{
    margin-left: 15px;
}
.head-hd a i{
    display: block;
    width: 5px;
    height: 5px;
    border: 1px solid #000;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    right: 45px;
}
.head-hd a img{
    display: inline-block;
    vertical-align: middle;
}
.ni{position: relative;}
.ni1{
    width: 800px;
    background-color: #f7f7f7;
    /* border: 1px solid #000; */
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    margin-top: 20px;
    z-index: 1;
}
.ni:hover .ni1{
    display: block;
}
.ni1-head1 div,.ni1-head2 div,.ni1-head3 div,.ni1-head4 div,
.ni1-head5 div,.ni1-head6 div{
    font-size: 14px;
    font-weight: bold;
}
.ni1-head1 div i,.ni1-head2 div i,.ni1-head3 div i,.ni1-head4 div i,
.ni1-head5 div i,.ni1-head6 div i{
    display: block;
    width: 30px;
    border: 1px solid #000;
    margin-left: 25px;
    margin-bottom: 15px;
}
.ni1-head1 ul li,.ni1-head2 ul li,.ni1-head3 ul li,
.ni1-head4 ul li,.ni1-head5 ul li,.ni1-head6 ul li{
    font-size: 12px;
    list-style: none;
    margin-top: 5px;
}
.ni1-head1,.ni1-head2,.ni1-head3,.ni1-head4,.ni1-head5,.ni1-head6{
    width: 100px;
    font-size: 13px;
    color: #000;
    float: left;
    list-style-type: none;
    margin-left: 30px;
    margin-top: 15px;
}
.ni1-foot1,.ni1-foot3{
    font-size: 14px;
    text-align: center;
}
.ni1-foot2{
    display: inline-block;
    font-size: 14px;
    text-align: center;
}
.nav{
    width: 1300px;
    height: 100px;
}

.left{
    width: 1300px;
    height: 600px;
    background-color: white;
    /* border: 1px solid tomato; */
    float: left;
}
.nav-pic{
    margin-left: 60px;
    margin-top:30px;
}
.nav-mulu{
    width: 56px;
    height: 21px;
    position: absolute;
    left: 230px;
    top: 72px;
}
.nav-mulu-list{
    width: 800px;
    height: 300px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    position: absolute;
    left: 0px;
    top: 35px;
    z-index: 1;
    float: left;
    display: none;
}
.nav-mulu:hover .nav-mulu-list{
    display: block;
}
.nav-mulu-list-zhuti{
    width: 300px;
    height: 300px;
    border-right: 1px solid #dddada;
    float: left;
}
.nav-mulu-list-zhuti1{
    margin-top: 30px;
    margin-left: 20px;
}
.nav-mulu-list-zhuti ul li{
    font-size: 14px;
    float: left;
    list-style: none;
    margin-top: 10px;
    margin-left: 25px;
}
.nav-mulu-list-remen{
    width: 400px;
    height: 300px;
    border-right: 1px solid #f7f7f7;
    float: left;
}
.nav-mulu-list-remen1{
    margin-top: 30px;
    margin-left: 20px;
}
.nav-mulu-list-remen ul li{
    font-size: 14px;
    float: left;
    list-style: none;
    margin-top: 10px;
    margin-left: 25px;
}
.nav-input img{
    position: absolute;
    left: 800px;
    top: 60px;
}
.nav-input input{
    width: 400px;
    height: 46px;
    background-color:#f7f7f7;
    border: 1px solid #f7f7f7;
    border-top-left-radius:5px ;
    position: absolute;
    left: 400px;
    top: 60px;
}
.main-theme{
    width: 250px;
    height: 50px;
    background-color: rgb(252, 98, 98);
    border: 1px solid rgb(250, 98, 98);
    border-top-left-radius :5px ;
    border-top-right-radius:5px ;
    float: left;
    margin-left: 80px;
}
.main-theme div{
    float: left;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
}
.main-theme img{
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}
.main-theme-zi{
    color: white;
}
.main-kuaiqiang{
    font-size: 20px;
    color: #000;
    float: left;
    margin-left: 50px;
    margin-top: 12px;
}
.main-kuaiqiang span{
    color: silver;
    margin-left: 15px;
}
section{
    width: 100%;
}
.main-top{
    width: 100%;
    height: 50px;
}
.main-top1{
    width: 600px;
    height: 50px;
}
.bx{
    width: 1315px;
    border-top: 2px solid lightcoral;
    position: relative;
}
.shop-list{
    width: 250px;
    height: 440px;
    border:1px solid #f7f7f7;
    background-color:#f7f7f7;
    position: absolute;
    left: 80px;
    top: 0px;
}
.shop-list1{
    width: 250px;
    height: 30px;
    border-left:1px solid white;
}
.shop-list1:hover{
    background-color: white;
    border-left:1px solid tomato;
}
.shop-list11{
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-left: 10px;
}
.shop-list111{
    font-size: 13px;
    float: left;
    list-style: none;
}
.shop-list11:hover{
    text-decoration:underline;
}
.shop-list111 li:hover{
    text-decoration:underline;
}
.shop-list111 li{
    float: left;
    margin-left: 20px;
    line-height: 30px;
    text-align: center;
}
.shop-list111 .li{
    color: tomato;
}
.main-pic{
    width: 100%;
    height: 440px;       
    background: url(../images/banner1.jpg) no-repeat;
    background-size: 100%;
}
.rightsidebar{
    width: 420px;
    height:50px; 
    float: right;
    position: absolute;
    right: 40px;
    top: 60px;
}
.rightsidebar1{
    float: left;
    text-align: center;
    margin-right: 10px;
}
.hidpic{
    display: none;
    position: absolute;
    top: 52px;
    right: 150px;
    z-index: 2;
}
.rightsidebar1-xiazai:hover .hidpic{
    display: block;
}
.rightsidebar1 a{
    display: block;
}
.rightsidebar .login{
    margin-right: 50px;
    margin-top: 8px;
    float: right;
}
.rightsidebar .login img{
    display: inline-block;
    vertical-align: middle;
}
.huiyuan{
    font-size: 12px;
    width: 150px;
    height: 200px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    position: absolute;
    top: 15px;
    right: 50px;
}
.huiyuan-d{
    width: 70px;
    height: 15px;
    text-align: center;
    border: 1px solid #ec6279;
    margin-top: 5px;
    margin-left: 40px;
}
.huiyuan-p{
    margin-top: 16px;
}
.huiyuan img{
   margin-top: 10px;
   margin-left: 35px;
   border-radius: 50%;
}
.app{
    width: 150px;
    height: 200px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    position: absolute;
    top: 225px;
    right: 50px;
}
.app1{
    margin-top: 15px;
    text-align: center;
}
.app2,.app3{
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}
.app img{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.app3{
    width: 100px;
    height: 20px;
    text-align: center;
    border: 1px solid #ec6279;
    margin-left: 25px;
    border-radius: 10px;
}
.right{
    width: 30px;
    height: 620px;
    background-color: #000;
    border: 1px solid #000;
    float: right;
    position: relative;
}
 .ul{ 
    width: 30px;
    height: 500px;
    position: absolute;
    top: 45PX;
}
.ul-list {
    margin-top: 20px;
    position: relative;
    text-align: center;
}
.ul-item{
    display: block;
    font-size: 13px;
    color: white;
    text-align: center;
    text-decoration: none;
} 
.ul-item:hover{
    background-color: tomato;
}

.ul1 {
    padding-bottom: 5px;
    width: 100px;
    position: absolute;
    top: 0;;
    right: 30px;
    background-color: slategray;
    display: none;
}
.ul-list:hover .ul1 {
    display: block;
}
.ul1 a{
    list-style: none;
    font-size: 13px;
    color: white;
    display: block;
    margin-top: 8px;
    margin-left: 16px;
    padding-left: 0px;
}
.ul1 a:hover{
    text-decoration: underline;
}

