/* tab切换*/
*{
   margin: 0;padding: 0;
}
b{
   color: tomato;
}
div{
    width: 80%;
    margin: 20px auto;
    /* border: 1px solid #11eb11; */
}
ul{
   list-style: none;
   overflow: hidden;
}
#nav{
   width: 100%;
   height: 50px;
   text-align: center;
   line-height: 50px;
   background-color: lightsalmon;
}
#nav li{
   width: 25%;
   height: 50px;
   float: left;
   border-bottom: none ;
}

#nav li.active{
   background-color: lightpink;
}
#content{
   width: 100%;
   height: 450px;
   background-color: rgb(239, 245, 239);
   border: 1px solid rgb(239, 245, 239);
   border-top: none;
}
#content li{
   width: 100%;
   display: none;
   padding: 10px;
} 
.zhuanhang{
   margin-top: 80px;
}